img.natricon {
	transform: scale(1.5) translateY(4%);
	max-height: 100%;
}

.natricon-placeholder > img {
	width: 90%;
	height: 90%;
	margin: 5%;
}

img.monkey {
	max-height: 100%;
	width: auto;
	object-fit: contain;
}
